WIFI_STATIC_RX_BUFFER_NUM=4
WIFI_DYNAMIC_RX_BUFFER_NUM=8
WIFI_DYNAMIC_TX_BUFFER_NUM=8
WIFI_RX_BA_WIN=6
TCP_SND_BUF_DEFAULT=8
TCP_WND_DEFAULT=8
WIFI_IRAM_OPT=ENABLE
WIFI_RX_IRAM_OPT=ENABLE
LWIP_IRAM_OPTIMIZATION=ENABLE
CONFIG_LWIP_L2_TO_L3_COPY=y
CONFIG_LWIP_IP_FORWARD=y
CONFIG_LWIP_IP_DEBUG=n
CONFIG_LOG_DEFAULT_LEVEL_NONE=n
